body {
    font-family: "Comic Sans", "Brush Script MT", cursive, sans-serif;
}

h1 .main-title{
    font-size: 64px;
}

.main-menu {
    text-align: center;
    margin: auto;
    width: 33%;
    padding: 0 0 50px 0;
    background-color: rgb(250,250,250);
    box-shadow: 5px 5px 5px rgb(205, 205,205);
}

a.back{
    background-color: rgb(75, 75, 75);
    color: white;
    text-decoration-line: none;
    padding: 5px;
    border-radius: 5px;
}

.recipe-img {
    width:500px;
    height: auto;
}